body {
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

* {
    outline: olive 3px solid;
}

.welcome-user {
top: 10px;
right: 10px;
font-size: 16px;
color: #333;
width: 100%;
text-align: right;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.footer a {
    color: #0077c8;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.header{
    text-align: center;
}


